<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Level</key>
	<integer>1</integer>
	<key>Stars</key>
	<integer>0</integer>
	<key>StarsReceived</key>
	<integer>0</integer>
	<key>CurrentCharacter</key>
	<integer>12</integer>
	<key>BronzeMedals</key>
	<integer>0</integer>
	<key>SilverMedals</key>
	<integer>0</integer>
	<key>GoldMedals</key>
	<integer>0</integer>
	<key>TotalPlayTime</key>
	<integer>0</integer>
	<key>HasWonGame</key>
	<false/>
	<key>LargestMatch</key>
	<integer>0</integer>
	<key>LargestChain</key>
	<integer>0</integer>
	<key>HasOpenedStore</key>
	<false/>
	<key>BuildingLevels</key>
	<dict>
		<key>Firehouse</key>
		<integer>0</integer>
		<key>Lodge</key>
		<integer>0</integer>
		<key>Greenhouse</key>
		<integer>0</integer>
		<key>TownHall</key>
		<integer>0</integer>
		<key>PoliceStation</key>
		<integer>0</integer>
		<key>Theatre</key>
		<integer>0</integer>
	</dict>
	<key>CharacterLevels</key>
	<dict>
		<key>Mayor</key>
		<integer>0</integer>
		<key>Elder</key>
		<integer>0</integer>
		<key>Fireman</key>
		<integer>0</integer>
		<key>Dog</key>
		<integer>0</integer>
		<key>Baker</key>
		<integer>0</integer>
		<key>Teacher</key>
		<integer>0</integer>
		<key>Librarian</key>
		<integer>0</integer>
		<key>Romeo</key>
		<integer>0</integer>
		<key>Felicia</key>
		<integer>0</integer>
		<key>Bruiser</key>
		<integer>0</integer>
		<key>Marla</key>
		<integer>0</integer>
		<key>ChopChop</key>
		<integer>0</integer>
		<key>NoCharacter</key>
		<integer>0</integer>
	</dict>
	<key>BlocksCleared</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
</dict>
</plist>
