<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Trophies</key>
	<dict>
		<key>CityMaster</key>
		<false/>
		<key>WellRounded</key>
		<false/>
		<key>IHeartBumbles</key>
		<false/>
		<key>MasterStoryTeller</key>
		<false/>
		<key>BrickBreaker</key>
		<false/>
		<key>WoodChipper</key>
		<false/>
		<key>LeafRaker</key>
		<false/>
		<key>GoldMiner</key>
		<false/>
		<key>CrystalClearer</key>
		<false/>
		<key>GemCollector</key>
		<false/>
		<key>MasterPiece</key>
		<false/>
		<key>Resourceful</key>
		<false/>
		<key>OnTheLevel</key>
		<false/>
		<key>Centurion</key>
		<false/>
		<key>MedalManiac</key>
		<false/>
		<key>HeavyMedal</key>
		<false/>
		<key>PowerHungry</key>
		<false/>
		<key>SimpleChain</key>
		<false/>
		<key>ChainReaction</key>
		<false/>
		<key>MonsterChain</key>
		<false/>
		<key>HighFive</key>
		<false/>
		<key>MegaMatch</key>
		<false/>
		<key>TheWildBunch</key>
		<false/>
		<key>TimeOnYourHands</key>
		<false/>
		<key>ArcadeNewbie</key>
		<false/>
		<key>ArcadePro</key>
		<false/>
		<key>ArcadeMaster</key>
		<false/>
		<key>TheArtOfScore</key>
		<false/>
		<key>MasterStrategist</key>
		<false/>
		<key>GreatStreak</key>
		<false/>
		<key>WickedStreak</key>
		<false/>
		<key>InsaneStreak</key>
		<false/>
		<key>Energized</key>
		<false/>
		<key>OutOfTheGates</key>
		<false/>
		<key>DareDevil</key>
		<false/>
		<key>OldFashioned</key>
		<false/>
	</dict>
</dict>
</plist>
